<h1 id="tableLabel">Datafordeler Event inspector</h1>
<p *ngIf="!DAFEvent"><em>Loading...</em></p>
<div *ngIf="DAFEvent">
  <p>Internal ID: {{ DAFEvent.id }}</p>
  <p>Datafordeler ID: {{ DAFEvent.eventID }}</p>
  <p>Amount of observations: {{ DAFEvent.dafEventHistory.length }}</p>
  <div *ngFor="let History of DAFEvent.dafEventHistory">
    <hr>
    <h3>Time {{ History.time }}</h3>
    <p>Raw Type: {{ History.rawFormat }}</p>
    <p>IP {{ History.ip }}</p>
    <h3>Metadata</h3>
    <pre>{{History.odataMetadata | json}}</pre>
    <h3>Data</h3>
    <pre>{{History.rawBody | json}}</pre>
  </div>
</div>


